*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.block{
   border:15px solid #e38;
}

.block1{
    width: 150px;
    height: 150px;
    padding: 15px;
    font-size: 100px;
    background-color: #e71818;
    display: inline-block;
}

.left{
    float: left;
}

.relative{
    position: relative;
}

.absolute{
    width: 75px;
    height: 75px;
    font-size: 50px;
    position: absolute;
    top: 0;
}

.clear{
    clear:both;
}

.second{
    right:300px;
}

.third{
    right:200px;
}

.fourth{
    right:100px;
}

.fifth{
    right:0px;
}

.block2{
    border:15px solid#c95da0;
    
}

.block3{
    width: 150px;
    height: 150px;
    font-size: 50px;
    background-color: #e38;
    display: inline-block;
}

.clear{
    clear:both;
}

.one{
    float: left;
}

.two{
    float: right;
}

.block5{
    border: 15px solid #e71818;
    
}

.block{
    position: relative;
}

.block4{
    width: 150px;
    height: 150px;
    font-size: 50px;
    background-color: #e38;
    display: inline-block;
   
}

.clear{
    clear: both;
}

.three{
    float: left;
}

.four{
    float: left;
    margin-left: 10px;
   }


.six{
    float:right;
}

.five{
    float: right;
    margin-left: 10px;
}








